/* main styles */

body {
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    background-color: #fdfdfd;
}

.header_bar {
    background-color: #e65100;
    border-bottom: 1px solid #1f2833;
    height: 5em;
    width: 100%;
}

.track_bin {
    align-content: center;
    margin-top: 15%;
}

.btn, .btn-large {
    background-color: #e65100;
    text-transform: lowercase;
}

.btn:hover {
    background-color: #f57c00
}

.track {
    background-image: url('./resources/fadedtrack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.img_container {
    height: 185px;
    width: 185px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.page-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f2833;
    height: 130px;
    width: 100%;
}

.page-footer p {
    color: #fdfdfd;
    margin-left: 50px;
    font-size: 1.2em;
}

.row { margin-bottom: 0;}

/* playlist page styles */

.header_playlist {
    background-color: #e65100;
    border-bottom: 1px solid #1f2833;
    height: 5em;
    width: 100%;
}

.header_playlist p {
    color: #fdfdfd;
    margin-left: 50px;
}

#albums {
    height: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow-x: scroll;
}

.albumDivs{
    display: inline-block;
    height: 100px;
    width: 100px;
}

#bin {
    background-color: #eeeeee;
    border: 1px solid black;
    height: 200px;
    overflow: scroll;
} 

.playlist_btn {
    margin-top: 1rem;
    margin-right: 1rem;
}

.row .col {
    padding: 0;
}